[submodule "parsers/training"]
	path = parsers/training
	url = https://github.com/alvarogarcia7/training-parser-antlr4.git
[submodule "parsers/time"]
	path = parsers/time
	url = https://github.com/alvarogarcia7/notes-parser-time-entry.git
[submodule "parsers/next"]
	path = parsers/next
	url = https://github.com/alvarogarcia7/notes-parser-next-entry.git
[submodule "importers/google-keep"]
	path = importers/google-keep
	url = https://github.com/alvarogarcia7/keep-it-markdown.git
[submodule "importers/apple-notes"]
	path = importers/apple-notes
	url = https://github.com/alvarogarcia7/notes-exporter.git
[submodule "parsers/hn"]
	url = https://github.com/alvarogarcia7/link-collection-rust.git
